h1, h2, h3, h4 {
  margin: 0;
  line-height: 1em; }

h1 {
  font: 400 2em Lato;
  margin: 0.25em 0;
  text-transform: uppercase; }

h2 {
  font: 300 1.5em Lato;
  margin-bottom: 1em;
  font-weight: 700; }

h3 {
  font: 300 2em Lato;
  margin: 2em 0 1em 0;
  font-weight: 700; }

h4 {
  font: 300 1.5em Lato;
  margin-bottom: 1em; }

h4 i {
  margin-right: 0.5em; }

p {
  font-size: 1em;
  line-height: 1.7em;
  margin-bottom: 1.7em; }

.spacer {
  padding: 6em 0; }

.spacer-investor {
  padding: 3em 0; }

.spacer_container {
  padding: 50px 0 0 0;
  background-color: #ffffff; }

.investor-img {
  padding: 10px;
  border: 1px solid #fff;
  margin: 5px;
  text-align: center;
  position: relative;
  float: left; }

.clearfix {
  margin: 0 90px 0 120px; }

.tentang_kami {
  margin: 60px 100px 20px 100px; }

.btn-send {
  color: #fff;
  background: #000000;
  width: 100%;
  outline: none; }

.btn-send:hover, .btn-send:active, .btn-send:focus {
  background: #000000;
  box-shadow: none; }

/*animasi set css coy */
.grid {
  position: relative;
  margin: 0 auto;
  list-style: none;
  text-align: center; }

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  /*nambah spasi*/
  width: 33.333333333%;
  text-align: center;
  cursor: pointer; }

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.15em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/*
.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}*/
.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure p {
  letter-spacing: 1px;
  font-size: 62.5%; }

/*---------------*/
/***** Chico *****/
/*---------------*/
figure.effect-chico img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.12);
  transform: scale(1.12); }

figure.effect-chico:hover img {
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1); }

figure.effect-chico figcaption {
  padding: 2.5em; }

figure.effect-chico figcaption::before {
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 21px;
  left: 25px;
  border: 1px solid #fff;
  content: '';
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.5); }

figure.effect-chico figcaption::before,
figure.effect-chico p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-chico p {
  margin: 0 auto;
  max-width: 200px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5); }

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

/*team*/
.team_members figure {
  width: 100% !important; }

.team_members img {
  width: 100%; }

.team_members b {
  font-size: 1.1em;
  display: block; }

.team_members a i.fa {
  color: #fff;
  font-size: 2em; }

.team_members a i.fa:hover {
  color: #21abca; }

.highlight-info-aboutus {
  background: url(../images/lab.jpg) center fixed;
  background-size: cover;
  color: #fff; }

.highlight-info-aboutus .overlays {
  background: rgba(33, 171, 202, 0.5) !important; }

.highlight-info-aboutus h4 {
  color: #fff;
  margin: 0.5em 0 0 0; }

/*contact*/
#contact {
  background-color: #f5f5f5; }

.contactform textarea, .contactform input {
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  margin-bottom: 1em;
  border-radius: 0;
  outline: none; }

/*contact*/
.ketengah-bawah {
  text-align: center;
  margin: 0px 0px -10px 0px;
  position: relative center;
  width: 65%; }

@media (max-width: 900px) {
  h1 {
    font: 700 3.5em Lato; }
  h4 {
    font: 300 1.3em Lato; }
  .btn {
    padding: 1em 2em; }
  .partners img {
    margin: 0 15px 25px 0;
    width: 157px; }
  figure.effect-chico figcaption {
    padding: 1em; }
  figure.effect-chico figcaption::before {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px; }
  .grid figure.effect-chico p {
    font-size: 0.6em;
    line-height: 3em; } }

h4 {
  margin: 0;
  line-height: 1em; }

h4 {
  font: 300 1.5em Lato;
  margin-bottom: 1em;
  margin-left: 1em; }

h4 i {
  margin-right: 0.5em; }

p {
  font-size: 1em;
  line-height: 1.7em;
  margin-bottom: 1.7em; }

.tentang_kami {
  margin: 60px 100px 20px 100px; }

.btn-send {
  color: #fff;
  background: #43a599;
  width: 100%;
  outline: none; }

.btn-send:hover, .btn-send:active, .btn-send:focus {
  background: #43a599;
  box-shadow: none; }

/*animasi set css coy */
.grid {
  position: relative;
  margin: 0 auto;
  list-style: none;
  text-align: center; }

.kebijakan-margin {
  padding: 40px 50px 20px 50px;
  background-color: #fff;
  margin-top: 0px; }
  .kebijakan-margin p {
    font-size: 0.9em;
    line-height: 1.7em;
    color: #1e1e1e;
    font-weight: 100; }

.ketengah-bawah {
  text-align: center;
  margin: 0px 0px -10px 0px;
  position: relative center;
  width: 65%; }

@media (max-width: 900px) {
  h1 {
    font: 700 3.5em Lato; }
  h4 {
    font: 300 1.3em Lato; }
  .btn {
    padding: 1em 2em; }
  .partners img {
    margin: 0 15px 25px 0;
    width: 157px; }
  figure.effect-chico figcaption {
    padding: 1em; }
  figure.effect-chico figcaption::before {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px; }
  .grid figure.effect-chico p {
    font-size: 0.6em;
    line-height: 3em; } }

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none; }
  .sidebar-nav .navbar ul {
    float: none;
    display: block; }
  .sidebar-nav .navbar li {
    float: none;
    display: block; }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px; } }

/* make sidebar nav vertical */
.vertical-menu {
  width: 260px;
  /* Set a width if you like */ }

.vertical-menu a {
  position: relative;
  background-color: #fff;
  /* Grey background color */
  color: black;
  /* Black text color */
  display: block;
  /* Make the links appear below each other */
  padding: 7px 12px 7px 12px;
  /* Add some padding */
  text-decoration: none;
  /* Remove underline from links */
  border: 1px solid #eaeaea;
  font-size: 14px; }

.vertical-menu a:hover {
  background-color: #F7F7F7;
  /* Dark grey background on mouse-over */ }

.vertical-menu a.active {
  background-color: #43a599;
  /* Add a green color to the "active/current" link */
  color: white; }

.isi-footer {
  padding-left: 30px; }
