
.progress .skill {
  font: normal 12px "Open Sans Web";
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}
.progress-bar {
  text-align: center;
  transition-duration: 3s;
}
// circle progress
.circle-progress {
  position: absolute;
  right: 0;
  top: 39%;
  right: 3%;
  .progress {
    width: 57px;
    height: 57px;
    line-height: 57px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
  }
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5.49px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left {
    left: 0;
  }
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress .progress-right {
    right: 0;
  }
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
  }
  .progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #3694be;
    font-size: 16px;
    color: #fff;
    line-height: 51px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: $bold;
  }
  .progress.blue .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue .progress-left .progress-bar {
    animation: loading-2 1s linear forwards 1.8s;
  }
  .progress.yellow .progress-bar {
    border-color: #fdba04;
  }
  .progress.yellow .progress-left .progress-bar {
    animation: loading-3 1s linear forwards 1.8s;
  }
  .progress.pink .progress-bar {
    border-color: #ed687c;
  }
  .progress.pink .progress-left .progress-bar {
    animation: loading-4 0.4s linear forwards 1.8s;
  }
  .progress.green .progress-bar {
    border-color: #1abc9c;
  }
  .progress.green .progress-left .progress-bar {
    animation: loading-5 1.2s linear forwards 1.8s;
  }
  @keyframes loading-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes loading-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
    }
  }
  @keyframes loading-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  @keyframes loading-4 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
    }
  }
  @keyframes loading-5 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
    }
  }
  @media only screen and (max-width: 990px) {
    .progress {
      margin-bottom: 20px;
    }
  }
}
// lingkaran review pada top
.circle-progress-lil {
  position: absolute;
  .progress {
    width: 46px;
    height: 46px;
    line-height: 46px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
  }
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3.4px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left {
    left: 0;
  }
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress .progress-right {
    right: 0;
  }
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
  }
  .progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #3694be;
    font-size: 14px;
    color: #fff;
    line-height: 42px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: $bold;
  }
  .progress.blue .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue .progress-left .progress-bar {
    animation: loading-2 1s linear forwards 1.8s;
  }
  .progress.yellow .progress-bar {
    border-color: #fdba04;
  }
  .progress.yellow .progress-left .progress-bar {
    animation: loading-3 1s linear forwards 1.8s;
  }
  .progress.pink .progress-bar {
    border-color: #ed687c;
  }
  .progress.pink .progress-left .progress-bar {
    animation: loading-4 0.4s linear forwards 1.8s;
  }
  .progress.green .progress-bar {
    border-color: #1abc9c;
  }
  .progress.green .progress-left .progress-bar {
    animation: loading-5 1.2s linear forwards 1.8s;
  }
  @keyframes loading-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes loading-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
    }
  }
  @keyframes loading-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  @keyframes loading-4 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
    }
  }
  @keyframes loading-5 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
    }
  }
  @media only screen and (max-width: 990px) {
    .progress {
      margin-bottom: 20px;
    }
  }
}
// progres pada index
.index-progres {
  top: 33%;
  left: 20%;
}

// Circle
.review-rate{
  top:5%;
  right: 5%;
}
.review-rate2 {
  bottom: -29px;
  right: 5%;
}

.review-rate3 {
  top: 41px;
  right: 6%;
}
// progres pada kategori
.kategori-progress {
  top: -25px;
  right: 10px;
}



//lingkaran review
.circle {
  position: absolute;
  z-index: 99;
  .progress {
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
  }
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4.4px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left {
    left: 0;
  }
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress .progress-right {
    right: 0;
  }
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
  }
  .progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #3694be;
    font-size: 14px;
    color: #fff;
    line-height: 45px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: $bold;
  }
  .progress.blue .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue .progress-left .progress-bar {
    animation: loading-2 1s linear forwards 1.8s;
  }
  .progress.yellow .progress-bar {
    border-color: #fdba04;
  }
  .progress.yellow .progress-left .progress-bar {
    animation: loading-3 1s linear forwards 1.8s;
  }
  .progress.pink .progress-bar {
    border-color: #ed687c;
  }
  .progress.pink .progress-left .progress-bar {
    animation: loading-4 0.4s linear forwards 1.8s;
  }
  .progress.green .progress-bar {
    border-color: #1abc9c;
  }
  .progress.green .progress-left .progress-bar {
    animation: loading-5 1.2s linear forwards 1.8s;
  }
  @keyframes loading-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes loading-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
    }
  }
  @keyframes loading-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  @keyframes loading-4 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
    }
  }
  @keyframes loading-5 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
    }
  }
  @media only screen and (max-width: 990px) {
    .progress {
      margin-bottom: 20px;
    }
  }
} // end lingkaran review
// lingkaran review besar
.circle-big {
  position: absolute;
  z-index: 99;
  .progress {
    width: 60px;
    height: 60px !important;
    line-height: 60px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
  }
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4.4px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left {
    left: 0;
  }
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress .progress-right {
    right: 0;
  }
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
  }
  .progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #3694be;
    font-size: 16px;
    color: #fff;
    line-height: 52px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: $bold;
  }
  .progress.blue .progress-bar {
    border-color: #3eb8ed;
  }
  .progress.blue .progress-left .progress-bar {
    animation: loading-2 1s linear forwards 1.8s;
  }
  .progress.yellow .progress-bar {
    border-color: #fdba04;
  }
  .progress.yellow .progress-left .progress-bar {
    animation: loading-3 1s linear forwards 1.8s;
  }
  .progress.pink .progress-bar {
    border-color: #ed687c;
  }
  .progress.pink .progress-left .progress-bar {
    animation: loading-4 0.4s linear forwards 1.8s;
  }
  .progress.green .progress-bar {
    border-color: #1abc9c;
  }
  .progress.green .progress-left .progress-bar {
    animation: loading-5 1.2s linear forwards 1.8s;
  }
  @keyframes loading-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes loading-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
    }
  }
  @keyframes loading-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  @keyframes loading-4 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @keyframes loading-5 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
    }
  }
  @media only screen and (max-width: 990px) {
    .progress {
      margin-bottom: 20px;
    }
  }
} // end lingkaran review besar
