// Import font lato
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");


$break-extrasmall: 320px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

$lato:'Lato',sans-serif;
$openSans:'Open Sans',sans-serif;

$med:400;
$bold:700;
$medblack:800;
$black:900;

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

// disable decoration every a
a{
  text-decoration: none !important;
  &:hover{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

}

// .fa-star {
//   color: #fdbe00 !important;
// }

.fa-star-o {
  color: #fdbe00 !important;
}

// Overlay Card Effect
.overlay {
  background-image: url(../images/featured_overlay.png) !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 20%, rgba(252, 252, 252, 0) 21%, rgba(233, 233, 233, 0.05) 27%, rgba(201, 201, 201, 0.17) 37%, rgba(172, 172, 172, 0.28) 46%, rgba(96, 96, 96, 0.65) 70%, rgba(58, 58, 58, 0.83) 82%, rgba(26, 26, 26, 0.94) 92%, rgba(0, 0, 0, 1) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 20%, rgba(252, 252, 252, 0) 21%, rgba(233, 233, 233, 0.05) 27%, rgba(201, 201, 201, 0.17) 37%, rgba(172, 172, 172, 0.28) 46%, rgba(96, 96, 96, 0.65) 70%, rgba(58, 58, 58, 0.83) 82%, rgba(26, 26, 26, 0.94) 92%, rgb(0, 0, 0) 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: 100% 100%;

  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#000000', GradientType=0);
  -webkit-transition: all .3s;
  transition: all .3s;
  background-size: 100% 100%;
  background-repeat: no-repeat;

   opacity: .75;
  &:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: .35;
  }
}

.overlay2 {
  background-image: url(../images/dark_overlay.png) !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 20%, rgba(252, 252, 252, 0) 21%, rgba(233, 233, 233, 0.05) 27%, rgba(201, 201, 201, 0.17) 37%, rgba(172, 172, 172, 0.28) 46%, rgba(96, 96, 96, 0.65) 70%, rgba(58, 58, 58, 0.83) 82%, rgba(26, 26, 26, 0.94) 92%, rgba(0, 0, 0, 1) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 20%, rgba(252, 252, 252, 0) 21%, rgba(233, 233, 233, 0.05) 27%, rgba(201, 201, 201, 0.17) 37%, rgba(172, 172, 172, 0.28) 46%, rgba(96, 96, 96, 0.65) 70%, rgba(58, 58, 58, 0.83) 82%, rgba(26, 26, 26, 0.94) 92%, rgb(0, 0, 0) 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: 100% 100%;

  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#000000', GradientType=0);
  -webkit-transition: all .3s;
  transition: all .3s;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  opacity: .85;
  &:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: .4;
  }
}

.overlay3 {
  background-image: url(../images/featured_overlay.png) !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 20%, rgba(252, 252, 252, 0) 21%, rgba(233, 233, 233, 0.05) 27%, rgba(201, 201, 201, 0.17) 37%, rgba(172, 172, 172, 0.28) 46%, rgba(96, 96, 96, 0.65) 70%, rgba(58, 58, 58, 0.83) 82%, rgba(26, 26, 26, 0.94) 92%, rgba(0, 0, 0, 1) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 20%, rgba(252, 252, 252, 0) 21%, rgba(233, 233, 233, 0.05) 27%, rgba(201, 201, 201, 0.17) 37%, rgba(172, 172, 172, 0.28) 46%, rgba(96, 96, 96, 0.65) 70%, rgba(58, 58, 58, 0.83) 82%, rgba(26, 26, 26, 0.94) 92%, rgb(0, 0, 0) 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: 100% 100%;

  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#000000', GradientType=0);
  -webkit-transition: all .3s;
  transition: all .3s;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  opacity: 0.15;
  
}

.pos-rel {
  position: relative;
}

// Reveal un reveal
.unreveal{
  display: none !important;
} // End Reveal un reveal


.item {
  display: inline-block;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.p-kat{
  padding: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

// End follow unfollowing button