// Big Image Header
.big-logo-row {
  background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 80%), url('../images/Big-Landing2.jpg');
  height: 480px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .big-logo-container {
    padding-top: 50px;
    max-height: 480px;
    width: 100%;
    text-align: center;
    h1 {
      margin-top: 6.4rem;
      font-weight: $bold;
      font-size: 46px;
      margin-bottom: 7px;
      color: rgba(255, 255, 255, 1);
      @media only screen and (max-width: $break-medium) {
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 2rem;
      }
    }
    p {
      color: rgba(255, 255, 255, 1);
      font-size: 17.3px;
      padding-top: 8px;
      letter-spacing: 0.5px;
      font-weight: $bold;
      @media only screen and (max-width: $break-medium) {
        font-size: 15px;
        padding: 20px 25px 0;
        text-transform: capitalize;
      }
    }
    .input-group {
      width: 733px !important;
      height: 38px !important;
      margin: 0 auto;
      @media only screen and (max-width: $break-medium) {
        width: 400px !important;
      }
    }
    .stylish-input-group .input-group-addon {
      background: rgba(255, 255, 255, 0.85) !important;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      i {
        margin-top: 9px;
      }
    }
    .stylish-input-group .form-control {
      border-right: 0;
      box-shadow: 0 0 0;
      border-color: #ccc;
      background: rgba(255, 255, 255, 0.85) !important;
    }
    .stylish-input-group button {
      border: 0;
      background: transparent;
    }
    .btn {
      margin-top: 18.6px !important;
      border-radius: 0 !important;
    }
    .btn-twitter-theme {
      height: 54px;
      width: 274px;
      line-height: 40px;
      font-size: 14.8px;
      font-weight: $bold;
    }
    .btn-facebook-theme {
      height: 54px;
      width: 274px;
      line-height: 40px;
      font-size: 14.8px;
      font-weight: $bold;
      margin: 0 15px;
      font-family: $lato;
    }
    .btn-white {
      color: #00aeda;
      height: 54px;
      width: 276px;
      line-height: 40px;
      font-size: 14.8px;
      font-family: $lato;
      padding-left: 30px;
      font-weight: $bold;
      position: relative;
      img {
        position: absolute;
        left: 32px;
        top: 16.5px;
      }
    }
  }
}

// Kata pembuka
.starter {
  padding: 35.5px 1.5rem 0;
  margin: 0;
  text-align: center;
  color: #2e2e2e;
  h1 {
    font-family: $openSans;
    font-size: 36.3px;
    font-weight: $black;
    margin-bottom: 5px;
    letter-spacing: 1.3px;
    color: #2e2e2e;
    @media only screen and (max-width: $break-medium) {
      font-size:19.8px;
      letter-spacing: 0.5px;
    }
  }
  .lead {
    font-family: $lato;
    font-weight: $bold;
    font-size: 19px;
    letter-spacing: 0.5px;
    color: #4e4e4e;
    @media only screen and (max-width: $break-medium) {
      font-size: 16px;
      letter-spacing: 0.5px;
      line-height: 20px;
      margin-bottom: 20px
    }
  }
}

// Backgroud kategori besar
.bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-jamtangan {
  background-image: url("../images/Kategori/Jam-Tangan.jpg");
  h4 {
    z-index: 99;
    position: relative;
    font-size: 22px;
    font-family: $openSans;
  }
  @extend .bg-cover;
}

.bg-audio {
  background-image: url("../images/Kategori/Audio.jpg");
  h4 {
    z-index: 99;
    position: relative;
    font-size: 22px;
    font-family: $openSans;
  }
  @extend .bg-cover;
}

.bg-kamera {
  background: url("../images/Kategori/kamera.jpg");
  &:hover {
    .overlay {
      opacity: .35;
    }
  }
  h4 {
    z-index: 99;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    font-family: $lato;
  }
}

.bg-vapor {
  background: url("../images/Kategori/vapor.jpg");
  &:hover {
    .overlay {
      opacity: .35;
    }
  }
  h4 {
    z-index: 99;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    font-family: $lato;
  }
}

.bg-smartphone {
  background: url("../images/Kategori/smartphone.jpg");
  &:hover {
    .overlay {
      opacity: .35;
    }
  }
  h4 {
    z-index: 99;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    font-family: $lato;
  }
}

.bg-tech {
  background: url("../images/Kategori/Laptop-and-desktop.jpg");
  &:hover {
    .overlay {
      opacity: .35;
    }
  }
  h4 {
    z-index: 99;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    font-family: $lato;
  }
}

.bg-sneakers {
  background: url("../images/Kategori/sneakers.jpg");
  background-size: cover !important;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  background-position: center;
  &:hover {
    .overlay {
      opacity: .35;
    }
  }
  h4 {
    z-index: 99 !important;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    font-family: $lato;
  }
}

/* styling kategori */

.show-grid [class^=col-] span,
.container-fluid .show-grid [class^=col-] {
  display: block;
  color: #ffffff;
  margin-top: 10px;
  text-align: center;
  padding: 35% 0 0 0;
  height: 194px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  h4 {
    font-size: 20px;
  }
}

/* styling kategori */

.show-grid2 [class^=col-] span,
.container-fluid .show-grid [class^=col-] {
  display: block;
  color: #ffffff;
  margin-top: 0px;
  text-align: center;
  padding: 25% 0 0 0;
  height: 114px;
  width: 176px;
  border: 1px solid #e2e2e2;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  h4 {
    font-size: 20px;
    font-family: $lato;
  }
}

.show-grid2 {
  .row {
    img {
      border: 3px transparent solid;
      width: 184px;
    }
  }
}

.show-grid {
  .btn-nav {
    margin-top: 10px !important;
    font-size: 10px !important;
    font-family: $lato;
  }
}

/* styling Header-nav */

.mr-news-header {
  margin-top: 30px;
}

.mr-review-header {
  margin-top: 1rem;
}

.sp-header {
  background-color: #fff;
  height: 48px;
  position: relative;
  display: block;
  margin-bottom: 10px;
  border-radius: 2px;
  border-bottom: 2px solid #eee;
}

.sp-header-news {
  margin: 0;
  background-color: #fff;
  height: 48px;
  position: relative;
  display: block;
  margin-bottom: 12px;
  border-radius: 2px;
  border: 2px solid #eee;
}

.sp-header-top {
  background-color: #fff;
  height: 50px;
  position: relative;
  display: block;
  margin-bottom: 10px;
  border-bottom: 1.2px solid #e2e2e2;
}

.sp-inside {
  position: relative !important;
  &:before {
    content: '';
    position: absolute !important;
    left: 0.1%;
    bottom: -46px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #43a599;
    clear: both;
  }
  h1 {
    position: absolute !important;
    left: 20px;
    top: 13px;
    font-size: 18px;
    font-family: $lato;
    font-weight: $black;
    span {
      font-weight: 400;
    }
  }
  ul {
    position: absolute;
    top: 6px;
    right: 0;
    font-size: 13px;
    font-family: $lato;
    font-weight: 400;
    li {
      margin-right: 20px;
      @media only screen and (max-width: $break-medium) {
        margin-right: 10px;
        &:last-child {
          margin-right: 20px;
        }
      }
      a {
        color: #8d8d8d;
        &:hover {
          color: #43a599 !important;
        }
      }
      .sel-berita {
        color: #43a599 !important;
        font-weight: $bold;
      }
    }
  }
}

.sp-inside-review {
  position: relative !important;
  &:before {
    content: '';
    position: absolute !important;
    left: 0.1%;
    bottom: -44px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #029FC6;
    clear: both;
  }
  h1 {
    position: absolute !important;
    left: 2%;
    top: 13px;
    font-size: 18px;
    font-family: $lato;
    font-weight: $black;
    span {
      font-weight: 400;
    }
  }
  ul {
    position: absolute;
    top: 6px;
    right: 0;
    font-size: 13px;
    font-family: $lato;
    font-weight: 400;
    li {
      margin-right: 20px;
      a {
        color: #8e8e8e;
        &:hover {
          color: #43a599 !important;
        }
      }
      .sel-berita {
        color: #43a599 !important;
        font-weight: $bold;
      }
    }
  }
}

@media (min-width: 768px) {
  .grid-divider {
    position: relative;
    padding: 20px 0 0 0;
  }
  .pt {
    padding-top: 25px;
  }
  .grid-divider>[class*='col-'] {
    position: static;
  }
  .col-padding-kategori {
    padding: 0 20px 0 30px;
    height: 266px;
    h2 {
      font-size: 37px;
      font-family: $lato;
      font-weight: 900;
      padding-top: 70px;
      color: #fff;
    }
    h3 {
      font-size: 18px;
      font-family: $openSans;
      padding-top: 25px;
      color: #fff;
      margin-bottom: 5px;
    }
    span {
      font-size: 13px;
      font-family: $openSans;
      line-height: 10px;
      ;
      color: #fff;
    }
  }
}

// Content Inside News 
.sp-content-news {
  margin: 0px;
  background-color: #fff;
  position: relative;
  padding: 1.2rem;
  box-shadow: 0 0.125rem 0.0625rem rgba(51, 51, 51, 0.05);
  border-radius: 0.0625rem;
  .card {
    border: 1px solid #fff;
    border-radius: 3px;
    &:hover {
      .card-text-lil {
        a {
          transition: all .5s ease-in-out;
          -webkit-transition: all .5s ease-in-out;
          color: #43a599 !important
        }
      }
      .card-text-big {
        a {
          transition: all .5s ease-in-out;
          -webkit-transition: all .5s ease-in-out;
          color: #43a599 !important
        }
      }
    }
    .tag-big-news {
      position: absolute;
      top: 2%;
      left: 7%;
      padding: 3px 16px;
      background-color: rgba(67, 165, 153, 0.8);
      color: #fff;
      font-weight: $bold;
    }
    .tag-lil-news {
      position: absolute;
      font-size: 13.7px;
      font-family: $lato;
      top: 2%;
      left: 7%;
      padding: 3px 15px;
      background-color: rgba(67, 165, 153, 0.8);
      color: #fff;
      font-weight: $bold;
    }
  }
  .big-news-img {
    height: 313px !important;
    position: relative;
    background-size: cover !important;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    background-position: center;
    object-fit: cover;
  }
  .lil-news-img {
    height: 148px !important;
    object-fit: cover;
  }
  .card-body {
    padding: 10px 0;
    .card-text-lil {
      margin-bottom: 0;
      font-size: 15.5px;
      font-family: "Open Sans", sans-serif;
      a {
        color: #4d4d4d;
        line-height: 20px;
        font-weight: 700;
      }
    }
    .card-text-big {
      a {
        color: #4d4d4d;
      }
      padding: 0rem 0.35rem;
      margin-bottom: 0;
      font-size: 22px;
      font-family: $openSans;
      font-weight: 900;
      line-height: 30px;
    }
  }
  .card-footer {
    padding: 0.5rem 5px;
    font-size: 13.6px;
    font-family: $lato;
    color: #777777;
    border: none;
    background: transparent;
    b {
      color: #111111;
    }
  }
  img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

// Content Review Index
.sp-content-review {
  margin: 0;
  position: relative;
  border-radius: 3px;
  background-color: #fff;
  padding: 15px 8px 5px;
  z-index: 1;
  box-shadow: 0 0.125rem 0.0625rem rgba(51, 51, 51, 0.05);
  border-radius: 0.0625rem;
  .col-sm-3,
  .col-md-4 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .card {
    position: relative;
    display: block;
    margin-bottom: 12px;
    border-radius: 2px;
    border: 1px solid #eee;
    .card-title-big {
      position: absolute;
      top: 34%;
      padding: 15px 50px 15px 26px;
      background-color: rgba(255, 255, 255, 0.55);
      line-height: 18px;
      font-weight: 800;
      font-size: 16px;
      color: #3d3d3d;
      font-family: $openSans;
    }
    .tag-big-review {
      position: absolute;
      top: 2%;
      left: 7%;
      padding: 3px 20px;
      background-color: rgba(2, 159, 198, .8);
      color: #fff;
      font-weight: $bold;
    }
    .tag-lil-review {
      position: absolute;
      top: 0;
      left: 7%;
      padding: 3px 15px;
      font-size: 13px;
      font-family: $lato;
      background-color: rgba(2, 159, 198, 0.8);
      color: #fff;
      font-weight: $bold;
    }
  }
  .big-review-img {
    height: 254px !important;
  }
  .lil-review-img {
    height: 148px !important;
  }
  .explore-review-img {
    height: 201px !important;
  }
  .card-body {
    padding: 10px 25px;
    color: #2e2e2e;
    .card-text-lil {
      margin-bottom: 6px;
      font-size: 14px;
      font-family: $openSans;
      font-weight: $bold;
      color: #070707;
    }
    .card-text-lil-deskripsi {
      margin-bottom: 0;
      font-size: 13px;
      font-family: $lato;
      color: #5d5d5d;
      margin-bottom: 5px;
      font-weight: $bold;
    }
    .card-text-kriteria {
      font-size: 12px;
      font-family: $lato;
      margin-bottom: 0px;
      font-weight: $bold;
    }
    .card-text-big {
      padding: 0rem 0.35rem;
      margin-bottom: 0;
      font-size: 20px;
      font-family: $lato;
      font-weight: 700;
      line-height: 25px;
    }
    .progress {
      height: 0.9rem;
      .progress-bar {
        background-color: #3fc4f5 !important;
        position: relative;
        p {
          position: absolute;
          right: 10px;
        }
      }
    }
  }
  .card-footer {
    padding: 0.5rem 1rem;
    font-size: 13.6px;
    font-family: $lato;
    color: #777777;
    background: transparent;
    b {
      color: #7f7f7f;
      font-weight: 400;
      font-size: 13px;
      font-family: $lato;
    }
    a {
      text-decoration: none;
      color: #029FC6;
    }
  }
  img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  ul {
    list-style: none;
    padding: 0 0;
    position: relative;
    li {
      padding: 20px 0;
      position: relative;
      .tag-lil-review {
        position: absolute;
        top: 19px;
        ;
        left: 33.5%;
        font-size: 12px;
        font-family: $lato;
        color: #fff;
        font-weight: $bold;
        background-color: rgba(2, 159, 198, 0.8);
        padding: 3px 15px;
      }
      img {
        height: 100px;
        width: 100px;
      }
      .text-title {
        position: absolute;
        left: 33.5%;
        top: 37%;
        font-size: 14px;
        font-family: $openSans;
        font-weight: 700;
        line-height: 20px;
        color: #2e2e2e;
      }
      .text-footer {
        position: absolute;
        left: 33.5%;
        bottom: 15%;
        font-size: 12px;
        font-family: $openSans;
        font-weight: 600;
        color: #7d7d7d;
      }
    }
  }
}

// Content Komunitas Index
.sp-content-komunitas {
  margin-top: 10px;
  background-color: #f8f8f8;
  position: relative;
  display: block;
  margin-bottom: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 1px rgba(51, 51, 51, 0.05);
  box-shadow: 0 2px 1px rgba(51, 51, 51, 0.05);
  border-radius: 2px;
  border: 1px solid #e2e2e2;
  ul {
    width: 100%;
    display: table;
    li {
      display: table-cell;
      width: 150px;
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 5px 5px;
      a {
        color: #2e2e2e;
        opacity: 1;
        figure {
          font-size: 16px;
          font-family: $lato;
          color: #474646 !important;
          background: #fff;
          height: 113px;
          width: 113px;
          margin-bottom: 0.5rem;
          img {
            background: #42b9ed;
            width: 113px;
            display: block;
          }
        }
        &:hover {
          text-decoration: none;
          color: #029FC6;
        }
      }
      &:hover {
        border-radius: 3px;
        border: 1px solid #e2e2e2;
        box-shadow: 1px 2px 5px 0 rgba(52, 40, 22, .04), 0 1px 2px 0 rgba(53, 40, 22, .04);
      }
    }
  }
}
