

h4{margin: 0;line-height: 1em;}
h4{
  font:300 1.5em Lato;
  margin-bottom: 1em;
  margin-left: 1em;
  }
h4 i{margin-right: 0.5em;
  }

p{font-size:1em;line-height: 1.7em; margin-bottom: 1.7em;}


.tentang_kami{
  margin: 60px 100px 20px 100px;
}

.btn-send{color: #fff;background:#43a599;width: 100%;outline: none;}
.btn-send:hover,.btn-send:active,.btn-send:focus{background:#43a599;box-shadow: none;}


/*animasi set css coy */
.grid {
  position: relative;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.kebijakan-margin{
  padding: 40px 50px 20px 50px;
  background-color: #fff;
  margin-top: 0px;
  p{font-size:0.9em;line-height: 1.7em; color: #1e1e1e;  font-weight: 100;}
}
.ketengah-bawah{
  text-align: center;
  margin: 0px 0px -10px 0px;
  position: relative center;
  width: 65%;
}
@media (max-width: 900px) {
  h1{font: 700 3.5em Lato;}
  h4 {font: 300 1.3em Lato;}
  .btn{padding: 1em 2em;}
  .partners img{margin: 0 15px 25px 0;width: 157px;}
  figure.effect-chico figcaption {padding: 1em;}  
  figure.effect-chico figcaption::before{top: 10px;right: 10px;bottom: 10px;left: 10px;}
  .grid figure.effect-chico p{font-size: 0.6em;line-height: 3em;} 
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/* make sidebar nav vertical */ 
.vertical-menu {
  width: 260px; /* Set a width if you like */
}

.vertical-menu a {
  position: relative;
  background-color: #fff; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 7px 12px 7px 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  border: 1px solid #eaeaea;
  font-size: 14px;
}

.vertical-menu a:hover {
  background-color: #F7F7F7; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #43a599; /* Add a green color to the "active/current" link */
  color: white;
}

.isi-footer{
  padding-left: 30px;
}