// Pengaturan modal yang digunakan
#myModal {
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    position: absolute;
    right: 28%;
  }
  .modal-body {
    padding: 20px 50px;
  }
  .modal-footer {
    justify-content: center !important;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

#myRegister{
   .modal-title {
     margin-bottom: 0;
     line-height: 1.5;
     position: absolute;
     right: 28%;
   }

   .modal-body {
     padding: 20px 50px;
   }

   .modal-footer {
     justify-content: center !important;
   }

   a {
     text-decoration: none;
     &:hover {
       text-decoration: none;
     }
   }
}
.py-modal {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  border: 1px solid #00AEDA;
  color: #fff;
}
.modal-open {
  position: fixed;
  overflow: scroll;
  width: 100%;
  padding-right: 0 !important;
}
