.news-sparator{
	  /* Create the parallax scrolling effect */

	  background-attachment: fixed;
	  background-position: center center;
	  background-repeat: no-repeat;
		background-size: cover;
		height: 20px;
}

.newsfull-container{
	padding:0 2rem;
	background-color: #fff;
}

.main-title{
	font-family: Lato Black,sans-serif;
	font-size: 64px;
	line-height: 70px;
}

.single-title{
	color: #3f3f3f;
	letter-spacing: -0.01em;
	margin: 24px 0 8px -3px;
}

.info-block{
  margin-top: 30px;
  border-top: 3px solid #eee;
  padding: 18px 0 0;
  position: relative;

  .tag-news{
		padding: 3px 16px;
		background-color: rgba(67, 165, 153, 0.8);
		color: #fff;
		font-weight: $bold;
  }
  .auth{
		padding-top: 1px;
		margin-left: 10px;
		font-size: 16px;
		font-weight: 700;
		color: rgba(67, 165, 153, 0.8);
		.footage{
			font-family: $openSans;
			color: #5e5e5e;
			font-weight: 400;
			font-size: 14px;
		}
  }
  .socialmedia {
		position: absolute;
		right: 0;
		.btn{
			padding: 5px 9px ;
		}
		.fa-facebook{
			padding: 0px 3.5px !important;
		}
  }
}

// 
.sp-news-single-page{
	background-color: #fff;
	padding: 1rem 1.5rem 1rem 0;
	img{
		max-width: 100%;
		height: auto;
		padding: 0px 0px 10px;
	}
	a{
		color:rgba(67, 165, 153, 0.8);;
	}
	p{
		font-family: $lato;
		font-size: 18px;
		color: #6d6d6d;
		font-weight: 500;
		text-align: justify;
		text-justify: inter-word;
		line-height: 30px;
		padding: 0 10px;
	}
	h2{
		font-size: 26px;
		color: #3f3f3f;
		line-height: 44px;
		padding: 0 10px;
	}
	strong{
		font-weight: 700;
	}
}

// Untuk styling tag news yang ada di bawah mempermudah untuk fungsi pencarian
.tag-news-footer{
	border-top: 3px solid #eee;
	border-bottom: 3px solid #eee;
	margin: 30px 0 21px;
	padding: 16px 0 20px;
	a{
		color:#fff;
	}
	.tag-oval{
		font-weight: $bold;
		height: 42px;
		border-radius: 21px;
		line-height: 44px;
		font-size: 13px !important;
		padding: 0 20px;
		letter-spacing: 0.01em;
		margin-bottom: 10px;
		margin-right: 5px;
	}
	h2{
		margin-left: 10px;
		font-size: 20px;
	}

	// Coloring
	.news{
		background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);	
	}
	.smartphone {
		background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
	}
	.samsung{
		background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
	}
	.galaxy-9{
		background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
	}
}

// Panel rekomendasi berita selanjutnya
.next-news-panel{
	margin-bottom: 20px;
	h2{
		margin-top:10px;
		font-size: 24px;
		font-family: Lato Black,
		sans-serif;
		color: #2c3e50;
		letter-spacing: -0.02em;
		text-transform: none;
	}
	// Style rekomendasi berita
	.recomendation{
		border-radius: 3px;
		height: 200px;
		position: relative;
		background-size: cover !important;
		transform: scale(1);
		-webkit-transform: scale(1);
		transition: all .2s ease-out;
		-webkit-transition: all .2s ease-out;
		background-position: center;
		 &:hover {
		 	.overlay {
		 		opacity: .35;
		 	}
		 }
		.lil-tag{
			position: absolute;
			font-size: 13.7px;
			top: 2%;
			left: 5%;
			padding: 3px 15px;
			background-color: rgba(67, 165, 153, 0.8);
			color: #fff;
			font-weight: 700;
		}
		.title{
			position: absolute;
			padding-right: 30px;
			bottom: 16%;
			left: 5%;
			color: #fff;
			font-size: 18px;
			font-weight: 900;
			line-height: 25px;
			font-family: "Lato",
			sans-serif;
			z-index: 5;
		}
		.footage{
			position: absolute;
			padding-right: 30px;
			font-weight: 700;
			bottom: 5%;
			left: 5%;
			color: #9d9d9d;
			font-family: "Open Sans",
			sans-serif;
			z-index: 5;
			font-size: 13px;
		}
	}
	// Tombol untuk Komentar
	.comment-section{
		margin-top:25px;

		.btn{
			width: 100% !important;
			border-radius: 3px;
			border: none;
			color: #FFF;
			cursor: pointer;
			display: inline-block;
			font-family: $lato;
			font-size: 16px;
			font-weight: 700;
			padding: 0 20px;
			width: auto;
			text-transform: uppercase;
			text-align: center;
			height: 45px;
			line-height: 46px;
			-webkit-transition: all .2s ease-out;
			transition: all .2s ease-out;
		}
	}
}