// Explore Notification

.notifikasi-menu{
  .dropdown-menu{
    margin-top: 10px;
    right: 0 !important;
    left: inherit !important;
    box-shadow: 0 0.125rem 0.0625rem rgba(51, 51, 51, 0.05);
    border-radius: 0.0625rem;
  }

}
.notifications {
  min-width: 320px !important;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
  }
}

.notifications-wrapper {
  overflow: auto;
  max-height: 400px;
}

.menu-title {
  color: #7d7d7d;
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 0;
}

.glyphicon-circle-arrow-right {
  margin-left: 10px;
}

.notification-heading,
.notification-footer {
  padding: 2px 10px;
}

.dropdown-menu.divider {
  margin: 5px 0;
}

.item-title {
  font-size: .9rem;
  color: #5d5d5d;
  font-weight: bold;
  margin: 5px 0px;
}

.item-info {
  font-size: .8rem;
  color: #6E6E6e;
  margin: 0;
  font-weight: 400;
}

.notifications a.content {
  text-decoration: none;
  display: block;
  color: #000;
}

.notification-item {
  position: relative;
  padding: 10px 10px 15px 75px;
  img {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
}

.review-item {
  position: relative;
  padding: 5px 5px 15px 70px;
  .fa {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 50px;
    height: 50px;
    font-size: 30px !important;
    color: #BABABA;
  }
}

.dropdown-menu .divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

ul.dropdown-menu.notifications .notifications-wrapper a.content {
  padding: 0px !important;
  background: rgba(255, 255, 255, 0.04);
  border-bottom: 1px solid #eee;
}

ul.dropdown-menu.notifications .notifications-wrapper a.content:hover {
  color: #000;
  background: rgba(0, 0, 0, 0.1);
}

.login-nav ul.nav.navbar-nav.navbar-right li a {
  display: block;
}

.notification-heading {
  background: #F5F7F9;
  .notifications a.content {
    text-decoration: none;
    display: block;
  }
  padding: 3px 10px;
}

ul.dropdown-menu.notifications {
  padding: 0px;
}

.dropdown .glyphicon-bell {
  vertical-align: middle;
}

.dropdown {
  list-style: none;
}
