
.bg-kat-user {
  background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.6)), url('../images/profile/coverprofile2.jpg');
  height: 235px;
  margin-top: 62px;
}

.top-pilihan-kat {
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #d9dede;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .profile-header {
    position: relative;
    margin: 16px 16px 16px 5px;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 2px solid #e2e2e2;
    &:hover {
      border: 2px solid #02a0c7;
    }
  }
  .profile-user {
    position: relative;
    margin: 25px auto 0;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 2px solid #e2e2e2;
    &:hover {
      border: 2px solid #02a0c7;
    }
  }
  h1 {
    margin: 35px 0 15px 0px;
    font-size: 20px;
    font-weight: $bold;
    color: #fff;
  }
  h2 {
    margin: 5px 0 0px 0px;
    font-size: 18px;
    font-weight: $bold;
    color: #fff;
  }
  p {
    margin: 5px 0 5px 0px;
    font-size: 16px;
    font-weight: 400;
    color: #0FAA9E;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .btn {
    padding: 8px 15px;
  }
  .btn-outline-pilihan {
    color: #fff;
    border: solid 1px #f4f4f4 !important;
    font-size: 13px;
    background: transparent !important;
    &:hover {
      background: rgba(255, 255, 255, 0.1) !important;
    }
  }
}
// style untuk quotes di profile sidebar
.bg-sidebar-profile {
  // profile sidebar 
  .profile-sidebar {
    ////////////////////////
    // style untuk quotes //
    background-color: white;
    -webkit-box-shadow: 0 2px 1px rgba(51, 51, 51, 0.05);
    box-shadow: 0 2px 1px rgba(51, 51, 51, 0.05);
    border-radius: 2px;
    border: 1px solid #eee;
    padding-bottom: 15px;
    .quotes {
      text-align: center;
      border-bottom: 1px solid #e2e2e2;
      padding: 25px 20px 20px;
      font-size: 14.5px;
      color: #6e6e6e; //style untuk quote KIRI
      .fa-quote-left {
        font-size: 8px;
        padding-right: 5px;
      } //style untuk quote kanan
      .fa-quote-right {
        font-size: 8px;
        padding-left: 5px;
      }
    }
    table {
      margin-top: 10px;
      padding-left: 5px;
      tr {
        td {
          .fa {
            color: #4e4e4e;
          }
          text-align: left;
          padding: 5px 8px;
          font-size: 14px;
          color: #5e5e5e;
        }
      }
    } // card-column untuk mengatur media dan video pada profile pengguna 
    .card-columns {
      .card {
        margin-bottom: 15px;
        border: none;
        img {
          height: 250px;
          width: 100%;
          display: block;
          object-fit: cover;
        }
        .card-block {
          h4 {
            font-size: 16px;
            margin-bottom: 0px;
            color: #4e4e4e;
            font-weight: 700;
          }
        }
      }
    } // end card-column
    .media {
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 5px;
      &:first-child {
        margin-top: 15px;
      }
      .pull-left {
        margin-right: 10px;
      }
      img {
        width: 80px;
        border-radius: 50%;
      }
      &:hover {
        background-color: #f1f1f1;
        border-radius: 5px;
      }
      .media-body {
        position: relative;
        overflow: hidden;
        zoom: 1;
        display: table-cell;
        vertical-align: top;
        .btn {
          position: absolute;
          top: 15px;
          right: 5px;
          min-width: 92px;
        }
      }
    }
    .file-upload {
      display: none;
    }
    .square {
      border-radius: 5px;
      overflow: hidden;
      width: 200px;
      border: 2px solid rgba(46, 46, 46, 0.15);
      position: absolute;
      top: 20px;
      img {
        max-width: 100%;
        height: 140px !important;
        width: auto\9;
        /* ie8 */
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
    .p-image {
      position: absolute;
      top: 128px;
      left: 18px;
      color: #ddd;
      width: 194px;
      height: 36px;
      padding: 6px 0;
      transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
      background-color: rgba(46, 46, 46, 0.4);
      &:hover {
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        background-color: rgba(46, 46, 46, 0.6);
        color: #eee;
      }
    }
    .upload-button {
      font-size: 1.2em;
    } // Style Upload Image
    .nav-pills {
      .active {
        color: #fff !important;
        background-color: #9EA6B1;
      }
      a {
        color: #4e4e4e;
      }
    } // end profile sidebar 
  }
}

.btn-toggle-following {
  background-color: #7bae16;
  color: #fff;
}

.tit-audiophile {
  padding-left: 10px;
}
