.sticky.is-sticky {
  height: 50px;
  position: fixed !important;
  left: 0;
  right: 0;
  top: 60px;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
  border-top: 1px solid #eee;
}
