#buatreview {
  .modal-dialog {
    top: 0%;
    max-width: 1000px !important;
    min-width: 960px !important;
    margin: 30px auto;
    .modal-header {
      padding: 5px 10px;
      background-color: #F6F6F6;
      p {
        margin: 0;
      }
    }
    .modal-body {
      padding: 5 10px !important;
      background-color: #ffff !important
    }
  }
  .c-upload {
    height: 100px;
    overflow: hidden;
    width: 100px;
    float: left;
    margin: 5px 7px 0 0;
    label {
      display: block;
      background: #efefef;
      text-align: center;
      height: 100px;
      padding: 30px 5px 0;
      box-sizing: border-box;
      cursor: pointer;
      white-space: normal;
      font-size: 14px;
      border:dashed 2px #9e9e9e;
      #fileInput{
        display: none;
      }
    }
   
  }
   #fileResult {
     img {
       padding: 5px 3px;
       height: 110px;
       width: 110px;
       object-fit: cover;
     }
   }
  th {
    font-size: 14px;
    color: #4e4e4e;
  }
}
