.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }

}
.btn-primary{
  background-color: $sw-green-ar;
  color: #fff;
  font-size: 13px;
}
.btn-danger{
  font-size: 13px;
}
.btn-tambah{
  background-color: $sw-green-ar;
  color: #fff !important;
  font-size: 13px;
  position: relative;
  float: right;
  overflow: hidden;

}
.inputfile-1{
border-style: solid;
border-color: #d2d2d2;
border-width: 1.5px;
width: 300px;
}