//
// Main navbar
//

.sw-navbar {
  min-height: 4rem;
  padding-left: 2rem !important;; 
  padding-right: 2rem !important;
  background-color: $sw-bg;
  // box-shadow: 0 .5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  //box-shadow: 2px 0 3px rgba(0,0,0,.5);
  border-bottom: 1px solid rgba(0,0,0,.0625);
  @include media-breakpoint-down(md) {
    padding-right: .15rem;
    padding-left: .15rem;

    .navbar-nav-scroll {
      max-width: 100%;
      height: 2.5rem;
      margin-top: .25rem;
      overflow: hidden;
      font-size: .875rem;

      .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    }
  }

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
      z-index: 1040;
    }
  }

  .navbar-brand{
    img{
      animation: mi-spin 30s infinite linear;
    }
  }

  .navbar-nav {
    .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
      color: $sw-black-light;

      &.active,
      &:hover {
        color: $link-hover-color;
        background-color: transparent;
      }

      &.active {
        font-weight: 500;
      }
    }
    .sw-avatar {
      margin-top: -.3rem;
    }
    .profile-align{
      padding: 7px 2px 0 5px;
      a{
        color: black;
      }
      a:hover{
        color: $sw-green-ar;
        text-decoration: none;
      }
    }
    .nav-item-bawah {
      font-size: 1em;
      margin-top: -.25rem;
      padding: 15px 5px;
    }
  }

  .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
  }

  .dropdown-menu {
    font-size: .875rem;
  }
  .dropdown-item{
    border-style: solid;
    border-width: 1px 0 0px 0;
    border-color: #f1f1f1;
  }

  .dropdown-item.active {
    font-weight: 500;
    color: #ffffff;
    background-color: $sw-green-ar;
  }
}

