// Variable warna
$body-bg: #f9fafb;
$color:#72777a;
$link-color:#72777a;
$link-hover-color:#38A599;

// form
$input-focus-color:#5e5e5e;
$input-placeholder-color:rgb(199, 199, 199);

$card-cap-bg:#fff;
$card-bg:rgba(255, 255, 255, 0.5);
$card-border-color:rgba(177, 177, 177, 0.125);;
$text-muted:rgb(5, 5, 5);

$navbar-dark-color: $color;
$navbar-dark-hover-color: #38A599;
$navbar-dark-disabled-color:#8a8a8a;
$navbar-dark-active-color:#2196f3;
$sw-black:        #000 !default;
$sw-purple:        #563d7c !default;
$sw-bg: rgb(255, 255, 255) !default;
$sw-black-bright: lighten(saturate($sw-black, 5%), 15%) !default;
$sw-black-light:  lighten(saturate($sw-black, 5%), 45%) !default;
$sw-dark:          #2a2730 !default;
$sw-download:      #ffe484 !default;
$sw-info:          #5bc0de !default;
$sw-warning:       #f0ad4e !default;
$sw-danger:        #d9534f !default;
$sw-green-ar:        #38A599 !default;
$theme-colors: (
    "primary": #2196f3,
    "danger": #ff4136
  );

@import "../bootstrap/scss/bootstrap.scss";
@import "navbar";
@import "sidebar";
@import "buttons";
@import "fixin";